page-login {
    .content{
          background-color: white;
          background-image: url('../../assets/imgs/login4.jpg');
          background-size: cover;
          background-repeat: no-repeat;

         
    }
    .body-container{
      padding-top: 20%;
      

        
    }
    .logo-box{
        text-align: center;
        display: block;
        padding-bottom: 20%

    }
    .img{
        width: 120px;
    }
    .input-box{
        // position: relative;
        // top: 10px;


    }
 
    h1{
        color: white;
        text-shadow: 2px 2px 4px #000000;
         font-size: 4rem;
         margin-top: -5%;
 
    }
    .item{
        text-align: center;
        color:white;
        
    }
.first-item{
    background-color:	rgba(68, 67, 62, 0.473); 
    border-radius: 10px;
}
  .second-item{
    background-color:	rgba(63, 63, 62, 0.582); 
    border-radius: 10px;

  }  
  .text-input::-moz-placeholder {
      text-align: center;
      color: 		white;
    
   }
   .text-input-md {
    text-align: center;
}
.text-label-md {
    text-align: center;
}
   
   .text-input:-ms-input-placeholder {
    color: 		white;
   
   }
   
   .text-input::-webkit-input-placeholder {
    color: 		white;
   
   }
   .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    top: -2px;
    bottom: auto;
    background-position: left 0 top 0;
    height: 0px;

}
.sign_up{
    text-transform: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}
.forget-password{
    text-transform: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}
ion-footer{
    display: flex;
}
.body-inputs{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    

}
.button-round-md{
    border-radius: 10px;

}









}
