<!-- <ion-content>
    <div class="cover">
        <button ion-button large class="topbtn" color="light" clear menuToggle>
            <ion-icon id="menu" name="menu"></ion-icon>
        </button>
        <img id="images" [src]="coverUrl" *ngIf="coverUrl != null" class="coverImg" imageViewer>
        <input id="hideCover">
        <ion-icon class="addCover" color="light" name="create" (click)="uploadImage()"></ion-icon>
    </div>
    <div class="box"></div>
    <div class="info">
        <div class="propicbo" [hidden]="keyboard.isOpen()">
            <img id="images" [src]="propicUrl" class="proPic" imageViewer>
            <img class="add" style="height: 30px" src="../../assets/icon/add.png" alt="">
        </div>
        <div id="pad"></div>
        <div class="names" padding>
            <ion-card class="ionc">
                <ion-card-header style="display: flex">
                    <span><b>Username:</b> &nbsp;<ion-input [(ngModel)]="username"></ion-input></span>
                </ion-card-header>
            </ion-card>

            <ion-card class="ionc">
                <ion-card-header>
                    <b>Email:</b> &nbsp;{{email}}
                </ion-card-header>
            </ion-card>
        </div>
        <br>
        <button padding class="nameEdit" color="dark-green" ion-button block (click)="editProfile()">Save</button> <br>
    </div>
</ion-content> -->






<ion-content>
    <div class="cover">
            <button ion-button  large class="topbtn" color="light" clear menuToggle ><ion-icon id="menu" name="menu"></ion-icon></button>
        <img style="height: 45vh; width: 100%" [src]="coverUrl" *ngIf="coverUrl != null" class="coverImg" imageViewer >
            
            <button ion-button  large class="topbtnleft" color="light" clear  ><ion-icon class="addCover" color="light" name="create" (click)="uploadImage()"></ion-icon></button>
      </div>
    
      <div class="box"></div>
      <div class="info" >
            <img id="images"  [hidden]="keyboard.isOpen()" [src]="propicUrl" class="proPic" imageViewer>
          <img class="add" [hidden]="keyboard.isOpen()" style="height: 30px" src="../../assets/icon/add.png"  (click)=' uploadProfileImage()'>
       
        <div class="names" padding>
        <ion-card class="ionc"> 
                    <ion-card-header style="display: flex">
                 <span><b>Username:</b> &nbsp;<ion-input [(ngModel)]="username"  ></ion-input></span> 
                    </ion-card-header>
                  </ion-card >
                  
                  <ion-card class="ionc">
                      <ion-card-header>
                          <b>Email:</b> &nbsp;{{email}}
                      </ion-card-header>
                    </ion-card> 
        </div> 
        <br>
      <button padding class="nameEdit" color="dark-green" ion-button block (click)="editProfile()">Save</button> <br>   
    </div>
  </ion-content>
