page-home {
    #map{
        width: 100%;
        height:100%;
        z-index: -1;
       
        
       }
       .cards{
           width: 80%;

       }
  
       .slides{
            position: absolute;
            top: 80%;
          
       }
    
       .imgs{
           width: 40%;
           height: 80px;
       }

    ion-slide.swiper-slide{
        right:10%;
        //height: 50%;
        
        
    }
    .swiper-slide.swiper-slide-active{
        height: 75%;
        left: 11%;
        //transition: 750ms;
        transform: scaleY(1.15);
        

    }
    .swiper-slide.swiper-slide-next{
        height: 72%;
        opacity: 0.8;
        filter: blur(1px);
        //transition: 1000ms
    }
    .swiper-slide.swiper-slide-prev{
        height: 72%;
        opacity: 0.8; 
        left: 30%;
        filter: blur(1px);
        //transition: 1000ms
    }
  
    .card{
        border-radius: 8px;
        display: flex;
        box-shadow: 0px 0px 10px    rgba(0, 0, 0, 0.514)
    }
    ion-card-title{
        padding:0px;
    }
    .search{
        position: absolute;
        top: 10%;
        // padding: 10%;
        width: 100%;
        left: 0%;
      
    }
    .location{
        position: absolute;
        top: 10%;
        // padding: 10%;
        width: 80%;
        left: 85%;
    }
    
    .fab-md {
        color: #fff;
        background-color: #087150;
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0), 0 4px 5px rgba(0, 0, 0, 0);
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
.suggest{
position: absolute;
top: 15%;
padding: 0%;
 margin: 0 auto;
 width: 90%;
 left: 5%;
}
    .list {
    margin-top: 7%;
    z-index: 999;
   
    // height: 70vh;
    // overflow-y: scroll; 
    }
    #hide{
        z-index: 9999;
     }


ion-slides {
    display: block;
    width: 100%;
     height: 25%; 
}
.topbtn{
    position: absolute;
    top:0%;
    z-index: 999;
   
}
.searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
   // box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.815)
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
} 
.fruits{
    display: flex;
}

.label-md {
     margin: 0px 0px 0px 0; 
     top:-8%;
     position: relative;
}
.imgz{
    height: 30px;
}
.name{
    position: absolute;
    top: 4%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-shadow: 2px  2px 5px rgb(119, 119, 119);
    color: rgb(0, 61, 42)
}
.km{
    position: absolute;
    top: 76%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-shadow: 2px  2px 5px rgb(192, 190, 190);
    color: rgb(0, 61, 42)
}
h4{
    margin: 2%
}
.car{
    font-size: 25px
}
.time{
    position: absolute;
    top: 79%;
    z-index: 999;
    // left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-shadow: 2px  2px 5px rgb(192, 190, 190);
    color: rgb(0, 61, 42) 
}

   #kilos{
       display: none;
       position: absolute;
       top: 69vh;
       z-index: 9999;
       left: 27%;
   }

   #time{
       display: none;
       position: absolute;
       top: 77vh;
       z-index: 9999;
       left: 27%;
   }
 
   .scroll-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
}
.movefabt{
    position: absolute;
    top: 70vh;
    z-index: 9999;
}
.movefabb{
    position: absolute;
    top: 78vh;
    z-index: 9999;
    
}

#hidekilos{
    display: none;

}
#hidetime{
    display: none;

}

.card-md .item-md.item-block .item-inner {
    border: 0;
    padding-left: 10px;
}
ion-fab[top] {
    top: 0px;
}
.fabShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
} 
.seg{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);


}
.segment-md .segment-button {
 -webkit-box-flex: 1;
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
 width: 0;
 height: 4.2rem;
 border-bottom-width: 2px;
 border-bottom-style: solid;
 border-bottom-color: rgba(0, 0, 0, 0.0);
 font-size: 1.2rem;
 font-weight: 500;
 line-height: 4rem;
 text-transform: uppercase;
 color: #808080;
 background-color: transparent;
}

.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
 border-color: transparent;
 opacity: 1;
 color: white;
 background: rgb(8, 113, 80);
 border-radius: 50px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
//background: linear-gradient(170deg,  rgb(137, 218, 208) 10% , rgb(5, 90, 63) 70% );
}

ion-segment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40%;

}
.asdfg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%
}
.searchbar-clear-icon {
    margin: 0;
    padding: 0;
    display: none;
    min-height: 0;
}
.searchbar-md .searchbar-clear-icon {
    right: 13px;
    top: 0;
    //background-image: url(data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%…6.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>);
    padding: 0;
    background-position: center;
    position: absolute;
    width: 22px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 22px;
    display: none;
}
.searchbar-has-value.searchbar-has-focus .searchbar-clear-icon{
    display: none;
}
ion-row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
}
#s1 {
    font-size: 20px
}
#s2 {
    font-size: 20px
}
#s3 {
    font-size: 20px
}
#s4 {
    font-size: 20px
}
#s5 {
    font-size: 20px
}

  
}
    

