<ion-content>

  <button ion-button large class="topbtn" color="dark-green" clear menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="upbox"></div>






  <div #map id="map" class="theMap"></div>
  <ion-searchbar class="search" #searchz (ionInput)="getItems($event)" (input)="display()" [(ngModel)]="searchbar"></ion-searchbar>

  <div class="location">
    <ion-fab>
      <button ion-fab mini class="fabdis " style="background-color: transparent" color="light" clear (click)="getUserLoc()">
        <ion-icon ios="ios-locate" md="md-locate" color="dark-green"></ion-icon>
      </button>

    </ion-fab>
  </div>
  <div class="suggest">
    <ion-list class="list" id="hide">
      <ion-item *ngFor="let item of items" (click)="serc(item)">
        {{ item }}
      </ion-item>
    </ion-list>



  </div>






  <div [hidden]="keyboard.isOpen()" class="cards" id="cardsHide">

    <ion-slides class="slides" (ionSlideDidChange)="slideChanged()" slidesPerView="1" centeredSlides="true">
      <ion-slide *ngFor="let a of farmsOnSlide; let i = index  " (click)="moreinfo(i)">

        <div class="cards" >
          <ion-card class="card">
            <img src="{{a.image}}" class="imgs">
            <ion-item>

              <h2 text-left>{{a.name}}</h2>
              <p text-left>{{a.type}}</p>
              <!-- <div class="fruits" *ngFor="let prod of a.products">
                            <img src="{{prod}}" class="imgz">
                          </div> -->


              <ion-grid no-padding>
                <ion-row no-padding>

                  <ng-container *ngIf="a.farmRate == 0; then zero; else one">
                      
                  </ng-container>
                  <ng-template #zero>
                      <ion-icon id="s1" name="star-outline" color="star" ></ion-icon>
                      <ion-icon id="s2" name="star-outline" color="star"></ion-icon>
                      <ion-icon id="s3" name="star-outline" color="star"></ion-icon>
                      <ion-icon id="s4" name="star-outline" color="star"></ion-icon>
                      <ion-icon id="s5" name="star-outline" color="star"></ion-icon>
                  </ng-template>
                  <ng-template #one>
                      <ng-container *ngIf="a.farmRate == 1; then ones; else two">
                      
                        </ng-container>
                        <ng-template #ones>
                            <ion-icon id="s1" name="star" color="star"></ion-icon>
                            <ion-icon id="s2" name="star-outline" color="star"></ion-icon>
                            <ion-icon id="s3" name="star-outline" color="star"></ion-icon>
                            <ion-icon id="s4" name="star-outline" color="star"></ion-icon>
                            <ion-icon id="s5" name="star-outline" color="star"></ion-icon>
                        </ng-template>
                        <ng-template #two>
                            <ng-container *ngIf="a.farmRate == 2; then twos; else three">
                      
                              </ng-container>
                              <ng-template #twos>
                                  <ion-icon id="s1" name="star" color="star"></ion-icon>
                                  <ion-icon id="s2" name="star" color="star"></ion-icon>
                                  <ion-icon id="s3" name="star-outline" color="star"></ion-icon>
                                  <ion-icon id="s4" name="star-outline" color="star"></ion-icon>
                                  <ion-icon id="s5" name="star-outline" color="star"></ion-icon>
                              </ng-template>
                              <ng-template #three>
                                  <ng-container *ngIf="a.farmRate == 3; then threes; else four">
                      
                                    </ng-container>
                                    <ng-template #threes>
                                        <ion-icon id="s1" name="star" color="star"></ion-icon>
                                        <ion-icon id="s2" name="star" color="star"></ion-icon>
                                        <ion-icon id="s3" name="star" color="star"></ion-icon>
                                        <ion-icon id="s4" name="star-outline" color="star"></ion-icon>
                                        <ion-icon id="s5" name="star-outline" color="star"></ion-icon>
                                    </ng-template>
                                    <ng-template #four>
                                        <ng-container *ngIf="a.farmRate == 4; then fours; else five">
                      
                                          </ng-container>
                                          <ng-template #fours>
                                              <ion-icon id="s1" name="star" color="star"></ion-icon>
                                              <ion-icon id="s2" name="star" color="star"></ion-icon>
                                              <ion-icon id="s3" name="star" color="star"></ion-icon>
                                              <ion-icon id="s4" name="star" color="star"></ion-icon>
                                              <ion-icon id="s5" name="star-outline" color="star"></ion-icon>
                                          </ng-template>
                                          <ng-template #five>
                                              <ng-container *ngIf="a.farmRate == 5; then fives">
                      
                                                </ng-container>
                                                <ng-template #fives>
                                                    <ion-icon id="s1" name="star" color="star"></ion-icon>
                                                    <ion-icon id="s2" name="star" color="star"></ion-icon>
                                                    <ion-icon id="s3" name="star" color="star"></ion-icon>
                                                    <ion-icon id="s4" name="star" color="star"></ion-icon>
                                                    <ion-icon id="s5" name="star" color="star"></ion-icon>
                                                </ng-template>
                                            </ng-template>
                                      </ng-template>
                                </ng-template>

                          </ng-template>
                  </ng-template>
                </ion-row>
              </ion-grid>

            </ion-item>

          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div [hidden]="keyboard.isOpen()" class="max" *ngIf="connect == 0; else issue">
    <div class="fabflex" id="hidekilos">
      <ion-fab middle left class="movefabt">
        <button ion-fab mini color="dark-green">
          <ion-icon name="car"></ion-icon>
        </button>
      </ion-fab>
      <h4 class="car" class="km" id="kilos">{{kiloMeter}}</h4>
    </div>

    <div class="fabflex" id="hidetime">
      <ion-fab middle left class="movefabb">
        <button ion-fab mini color="dark-green">
          <ion-icon name="timer"></ion-icon>
        </button>
      </ion-fab>
      <h4 class="car" class="time" id="time">{{duration}}</h4>
    </div>

  </div>
  <ng-template #issue>

  </ng-template>
</ion-content>