
.div-1{
    //background: #00eba0;
    height: 600px;
    width: 600px;
    top: -240px;
    left: -240px;
    //box-shadow: 0 0 5px rgb(0, 0, 0);
    
    position: absolute;
    border-radius: 500px;
}
.profilePicture{
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 500px;
}
.div-2{
    //background: #02cc8c;
    height: 500px;
    width: 500px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //box-shadow: 0 0 5px rgb(0, 0, 0);
    //border-radius: 500px;
}
.div-3{
    //background: #05a06f;
    height: 400px;
    width: 400px;
    border-radius: 500px;
    position: absolute;
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //box-shadow: 0 0 5px rgb(0, 0, 0);
    
}
.div-4{
   // background: #087150;
    height: 300px;
    width: 300px;
    
    margin-top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 500px;
   // box-shadow: 0 0 5px rgb(0, 0, 0);
}
.div-0{
    z-index: 1000000000000000000000000000000000;
    color: white;
}
.color{
   // color: #087150
}
.flex{
    //background-color: #00B97F;
    margin-top: 150px;
    padding: 20px
}
.name{
    position: absolute;
    margin-top: 50%;
    width: 70%;
    transform: translateY(-50%);
    z-index: 1000000000000000000000000000000000;
    color: white;
    right: -40%;
}
.username{
}
.propic{
    display: flex;
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    
}
.pic{
    height: 70px;
    width: 70px;
    border-radius: 0px;
    position: relative;
    top: 0%;
    left: 20%;
   
}
h6{
    margin: 0%;
    color: white
}
.info{
height: 50px;
}
.backcolor{
    //  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.438) ,
    //  #095849b9), url('../../assets/icon/47059.png');
      background-image: url("../assets/icon/small.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.9);
       opacity: 0.9;
   

}
.menu-inner{
    background-color: transparent !important;
    }

.username{
    position: relative;
    top: 15px;
    font-size: 20px;
    font-weight: bold;
  
}
.email{
     position: relative;
        top: 0px;
        left: -30%;
       
}
.options{
    background-color: rgba(255, 0, 0, 0);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.5;
  
}
.item-md{
    padding: 0px;
    z-index: 999999999999999999999999999999999999999999999999;
}
.div-0{
    position: relative;
    top: 15%
}


.content-md hr {
    background-color: rgba(0, 0, 0, 0.08);
}
.content-md hr {
    background-color: rgba(255, 255, 255, 0.486);
}
.version{
    color: white;
    position: relative;
    top: 17%;
}
.myAlert {
  
    color: #eaf0f1;
    button {
        color: rgb(255, 255, 255);
      margin: 0 auto;
      text-transform: uppercase;
    }
    .alert-message {
      color: white; // text color for confirm alerts
    }
    .alert-wrapper {
      background-color: #087150;
      border-radius: 10px;
      color: white;
      animation: 0.7s bounceIn;
    }
    .alert-subTitle{
      color: white;
    }
  
    
  }
  .alert-md .alert-input {
        margin: 5px 0;
        border-bottom: 1px solid #ffffff;
        color: rgb(255, 255, 255) !important;
    }
 .alert-md .alert-button .button-inner {
  
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff !important;
        background-color: transparent;
    
    }
    .loading-md .loading-wrapper {
        max-height: 13%;
        border-radius: 15px;
        background-color: #087150;
        color: #ffffff !important;
      }
      .loading-md .spinner-crescent circle {
        stroke: #ffffff;
    }
