page-add-farm {
    .toolbar{
        // height: 200px;
    }
    .flex{
        display: flex;
        flex-direction: row
    }
    #hide{
        display: none;
    }
    .ion-label{
        width: 50%;
    }
    button {
   
    }
    .image-input{
        text-align: center;
        
    }
    #hide{
        display: none;
    }
    .bar-button::after {
        left: 0px;
        right: -2px;
        top: -7px;
        bottom: -6px;
        position: absolute;
        content: "";
    }
    .label-heading{
        text-align: center
    }
    ion-item{
        box-shadow: 20px;
    }
    .text-input::-moz-placeholder {
        
      }
      .text-input:-ms-input-placeholder {
  
      }
      .text-input::-webkit-input-placeholder {
  
      }
      .item-md{
          box-shadow: 20px ;
 
      }
      h3{
          box-shadow: 1px 1px 1px 8px brown
      }
      .buttons{
          padding-left: 10px;
          padding-right: 10px;
      }
      ion-checkbox{
          background-color: #087150;

      }

     
}
