page-description {
    .body-container{
        // padding-left: 10px;
        // padding-right: 10px;
    }

    .cards{
        max-height: 500px;
    }
    .swiper-slide img{
        height:300px;
    }
    .body-box{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
  
    .sub-title{
        position: relative;
     
    }
    .fab{
        border-radius: 50%;
        position: relative;
        z-index: 0;
        display: block;
        overflow: hidden;
        width: 50px;
        height: 50px;
        font-size: 14px;
        line-height: 56px;
        text-overflow: ellipsis;
        text-transform: none;
        white-space: nowrap;
        cursor: pointer;

    }
    .switch-seg{
        position: relative;
        top: -10%;
        text-align: center;
    }
    .description-section{
        position: relative;
    }

    .title {
        position: absolute;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        font-family: system;
        font-display: normal;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-align: center;
        color: black;
        }
      .header-box{
          position: relative;
          height: auto;

        }       

        .contact-box{
            letter-spacing: 0.1em;
            margin-top: -20px;
            font-family: system;
            font-display: normal;
             background-color:#fafafa;
            color: white;
            font-size: 40px;       
            display: grid;          
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            height: 50px;
            text-align: center;
            line-height: 5%
        }
     
        .contact-box > div{
            padding-top: 15px;
            padding-bottom: 20px;
        }
        .contact-box > div:nthchild(odd){
        }
        .first-column{
        text-align: center;
            
        }
        // .fab-button{
        //     box-shadow:2px ; 
        //     position: relative;
        //     top: -12px;
        // }
        ion-fab{
            padding-right: 20px;
        }
    
        img{
            width: 50px;
        }
        .img{
            max-height: 100%;
            max-width: 100%;
            position: relative;
            top: 15px;
            height:auto;
            width: 100%;
            transform: translateX(0px);
        }
        .icons{
            float: left;
            display: flex;
        }
    
  
        .container-crops{
            justify-content: center;
            display: flex;
         }
         .container-livestock{
            justify-content: center;
            display: flex;

         }
         .container-Aquafarming{
            justify-content: center;
            display: flex;

         }
        //  .crops-name{
        //      display: flex;
        //  }
        //  .livestock-name{
        //      display: flex;

        //  }
        //  .Aquafarming{
        //     display: flex;
        //  }
        //  .beeKeeping-name{
        //     display: flex;

        //  }
      
         .btn {
            width: 50px;
        }
         hr {
            display: block;
            unicode-bidi: isolate;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px ;
            background-color: #087150;
        }
          .text {
            font-size: 
            20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

          .ion-card{
            width: 115%;
            margin-left: -8%;
            margin-bottom: -0px !important;
            position: relative;
            top: -16px;
    
            }
            .contact-box{
              
              
            }
            h6{
                  color: grey;
            }

            ion-icon{
                font-size: 27px;
                color: 	rgb(8, 113, 80);
                
            }
            h4{
                padding-right: 5px;
                font-size: 1em;
                text-align: center;
            } 
            h3{
                font-size: 1.5em;
                color: rgb(92, 89, 89);
                text-align: center;
                // padding-left: 5%;
            }
        
    
       
       
}
