<ion-content >
    <div no-padding class="body-container">
  
    <div class="header-box" >
      
   <div class="ion-card"  >
      <ion-slides pager effect="coverflow" class="cards" (ionSlideDidChange)="slideChanged()">
  
          <ion-slide *ngFor="let i of image"  >
              <img class="img" src="{{i}}" alt="">
          </ion-slide>
         
        </ion-slides>
         <ion-fab  mini bottom right>
              <button class="fab-button" ion-fab color="dark-green" (click)="navigate()" ><img  class="btn"src="../../assets/imgs/icons8_Route_100px_2.png"></button>
             </ion-fab>
      
    </div>
    <div class="cotact-box">
      <div class="sub-title">
        <br>
        <h2>{{name}}</h2>
        <br>
      </div> 
      <div>
          <h3>Green House</h3>
      </div>
      
     
               
    </div>
 
   <div padding class="description-section"  >
                
                  <p> {{desc}}</p>
                  </div>
      
      <div padding  class="PET" [ngSwitch]="pet">  
        <ion-list *ngSwitchCase="'kittens'">
            <div class="body-box" >
               
                  <div class="farm-facilities" >
                    <div class="we-offer" >
        
                       <h3>We offer</h3>
                    </div>
                      <div class="container-crops" >
                        <span *ngIf="crops == 'true'">
                          <img   src="../../assets/imgs/icons8_Beet_100px_2.png" alt=""> 
                          <img src="../../assets/imgs/icons8_Cabbage_100px_1.png" alt="">
                          <img src="../../assets/imgs/Broccoli_100px.png" alt="">
                          <img src="../../assets/imgs/Pumpkin_100px.png" alt="">
                          <img src="../../assets/imgs/Watermelon_100px.png" alt="">
                          <img src="../../assets/imgs/icons8_Carrot_100px.png" alt="">
                          <!-- <img src="../../assets/imgs/icons8_Sashimi_96px.png" alt=""> -->
                          <img src="" alt="">
                         </span>
                        <!-- <span *ngIf="crops == 'true'" class="crops-name" >Crops</span> -->
                      </div>
                      <div class="container-livestock" >
                        <span *ngIf="liveStock == 'true'" >
                          <img src="../../assets/imgs/icons8_Cow_96px_1.png" alt="">
                          <img src="../../assets/imgs/icons8-chicken-48.png" alt="">
                          <img src="../../assets/imgs/Pig_100px.png" alt="">
                          <img src="../../assets/imgs/Lamb_100px.png" alt="">
                          <img src="../../assets/imgs/" alt="">
                        </span>
                        <!-- <span  *ngIf="liveStock == 'true'" class="livestock-name" >Livestock</span> -->
                      </div>
                      <div class="container-beeKeeping" >
                        <span *ngIf="beeKeeping == 'true'" >
                          <img src="../../assets/imgs/icons8_Bee_96px.png" alt="">
                          <img src="../../assets/imgs/icons8_Honey_96px.png" alt="">
                        </span>
                        <br>
                        <!-- <span  *ngIf="beeKeeping == 'true'"class="beeKeeping-name" >Beekeeping</span> -->
                      </div>
                      <div class="container-Aquafarming" >
                        <span *ngIf="aquatic == 'true'">
                          <img src="../../assets/imgs/icons8_Bee_96px.png" alt="">
                          <img src="../../assets/imgs/icons8_Sashimi_96px.png" alt="">
                        </span>
                        <!-- <span  *ngIf="aquatic == 'true'" class="Aquafarming" >Aquafarming</span> -->
                      </div>
                  </div>
                  <br>
                  <br>
                  <div class="container-offer" >
                    
                    <div class="contact-us" > <br> <h3>Find us here </h3></div>
                  
                
      <div class="contact-icons" >
       <div class="adress" (click)="navigate()" >
                     <ion-icon name="md-pin" ></ion-icon>
                     
                 </div>
                 <div class="call" (click)="call(tel)">
                   <ion-icon name="md-call"></ion-icon>
                   
                 </div>
                 <div class="email" (click)="sendEmail(email)">
            
                   <ion-icon name="md-mail"></ion-icon>
                 </div>
        </div>
        <br>
        <br>
                  </div>
                </div> 
        </ion-list>
    
      </div>
    </div>
    </div>
      </ion-content>