
<ion-content >
    <div class="body-container">
  
    <div class="header-box" >
   <div class="ion-card"  >
      <ion-slides pager>
  
          <ion-slide *ngFor="let i of image">
              <img class="img" src="{{i}}" alt="">
          </ion-slide>
        </ion-slides>
        <div class="address-box">
          <div class="first-column" >
           <h4>{{name}} </h4>
            </div>
          <div class="second-column" >
             <ion-fab  mini right>
               <button class="fab-button" ion-fab color="danger" (click)="navigate()" ><img  class="btn"src="../../assets/imgs/icons8_Route_100px_2.png"></button>
              </ion-fab>
        </div>
  
      </div>
    </div>
    <div padding>
        <ion-segment [(ngModel)]="pet" class="segment">
          <ion-segment-button value="kittens">
        About Us
          </ion-segment-button>
          <ion-segment-button value="puppies">
            Contact Us
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div   [ngSwitch]="pet">  
        <ion-list *ngSwitchCase="'kittens'">
            <div class="body-box" >
                <div class="description-section"  >
                  <div class="sub-title">
                    <h1>Farm Description</h1>
                     {{desc}}
                  </div>
                  <hr>
                  </div>
                  <div class="farm-facilities" >
                    <h1>What we offer</h1>
                    <hr>
                    <div class="container" >
                      <div class="crops" >
                        <span *ngIf="crops == 'true'"><img   src="../../assets/imgs/icons8_Sprout_96px.png" alt=""></span>
                        <span *ngIf="crops == 'true'" class="crops-name" >Crops</span>
                      </div>
                      <div class="livestock" >
                        <span *ngIf="liveStock == 'true'" ><img src="../../assets/imgs/icons8_Cow_96px_1.png" alt=""></span>
                        <span  *ngIf="liveStock == 'true'" class="livestock-name" >Livestock</span>
                      </div>
                      <div class="beeKeeping" >
                        <span *ngIf="beeKeeping == 'true'" ><img src="../../assets/imgs/icons8_Bee_96px.png" alt=""></span>
                        <span  *ngIf="beeKeeping == 'true'"class="beeKeeping-name" >Beekeeping</span>
                      </div>
                      <div class="Aquafarming" >
                        <span *ngIf="aquatic == 'true'"><img src="../../assets/imgs/icons8_Bee_96px.png" alt=""></span>
                        <span  *ngIf="aquatic == 'true'" class="Aquafarming" >Aquafarming</span>
                      </div>
                      </div>
               
                  <hr>
                  </div>
                </div> 
        </ion-list>
        <ion-list *ngSwitchCase="'puppies'">
            <div class="contact-box">
                <div class="adress">
                    <ion-icon name="md-pin" ></ion-icon>
                    <h6>{{address}}</h6>
                </div>
                <div class="call" (click)="call(tel)">
                  <ion-icon name="md-call"></ion-icon>
                  <h6>{{tel}}</h6>
                </div>
                <div class="email" (click)="sendEmail(email)">
                  <ion-icon name="md-mail"></ion-icon>
                  <h6>{{email}}</h6>
                </div>
                <div class="time" >
                  <ion-icon name="logo-facebook"></ion-icon>
                  <h6>{{facebook}}</h6>
                </div>
              </div>   
        </ion-list>
      </div>
    </div>
    </div>
      </ion-content>
  
