page-description {
    .body-container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .segment{
        position: relative;
        top: -10px;

    }
    .body-box{
        text-align: center;
    }
  
    .sub-title{
        position: relative;
     
    }
    .switch-seg{
        position: relative;
        top: -10%;
        text-align: center;
    }
    .description-section{
        position: relative;
    }

    .title {
        position: absolute;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        font-family: system;
        font-display: normal;
        letter-spacing: 0.1em;
        font-weight: bold;
        text-align: center;
        color: black;
        }
      .header-box{
          position: relative;
          height: auto;

        }       

        .address-box{
            letter-spacing: 0.1em;
            font-family: system;
            font-display: normal;
            background-color:#087150;
            color: white;
            font-size: 20px;
            // padding-top: 15px;
            // padding-bottom: 15px;
            padding-left: 25px;
            padding-right: 15px;
            text-align: center;
         
            display: flex;          
            grid-template-columns: 1fr 1fr ;
        }
        .address-box > div{
        }
        .address-box > div:nthchild(odd){
        }
        .first-column{
        text-align: center;
            
        }
        .fab-button{
            box-shadow:2px ; 
            position: relative;
            top: -12px;
        }
        .btn{
            width: 100px;
        }
        img{
            width: 50px;
        }
        .img{
            max-height: 200px;
            max-width: 100%;
            position: relative;
            top: 15px;
            height:auto;
            width: 100%;
            transform: translateX(0px);
        }
        .icons{
            float: left;
            display: flex;
        }
  
        .container{
            justify-content: center;
            display: flex;          
            // grid-template-columns: 1fr 1fr 1fr 1fr ;
         }
         .crops-name{
             display: flex;
         }
         .livestock-name{
             display: flex;

         }
         .Aquafarming{
            display: flex;
         }
         .beeKeeping-name{
            display: flex;

         }
      
         .btn {
            width: 50px;
            padding-right: 5px;
        }
         hr {
            display: block;
            unicode-bidi: isolate;
            -webkit-margin-before: 0.5em;
            -webkit-margin-after: 0.5em;
            -webkit-margin-start: auto;
            -webkit-margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px ;
            background-color: #087150;
        }
       


        .imgs {
            position: relative;
            width: 50%;
          }
          
          .images {
            display: block;
            width: 100%;
          }
          .text {
            font-size: 
            20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }

          .image-container{
              background-size: cover;
              min-height: 200px;

          }
          .ion-card{
            width: 115%;
            margin-left: -8%;
            margin-bottom: -0px !important;
            position: relative;
            top: -16px;
    
            }
            .contact-box{
                text-align: center;
                line-height: 5%
              
            }
            h6{
                  color: grey;
            }
            .adress{
                text-align: center;
                font-weight: 100;
            }
            ion-icon{
                font-size: 25px;
                color: 	#08AF9E;
                
            }
            .segment-md .segment-button{
                color:#08AF9E;
            }
            .segment-md .segment-button.activated, 
            .segment-md .segment-button.segment-activated{
                color:#08AF9E;
                border-color: #087150;

            }
            .swiper-pagination-bullet-active{
                background:#087150;
            }
            h4{
                padding-right: 5px;
                font-size: 1em;
                text-align: center;
            }  
            //  .address-box{
            //     letter-spacing: 0.1em;
            //     font-family: system;
            //     font-display: normal;
            //     background-color:#087150;
            //     color: white;
            //     font-size: 15px;
            //     padding-left: 25px;
            //     padding-right: 15px;
            //     text-align: center;
            //     display: grid;          
            //     grid-template-columns: 1fr 1fr ;
            // }
            // .address-box > div{
            // }
            // .address-box > div:nthchild(odd){
            // }
           
       
       
}
