page-newsfeed {
    .content{
        background-color: rgb(238, 236, 236)
    }
    .card-md p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        height: 50px;
    }
    .flexx{
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.151);
        border-radius: 10px;
        
    }
    ion-title{
        position: relative;
        left: -10%
    }
}
